name: db8-test

services:
  db:
    image: quay.io/tembo/pg16-pgmq@sha256:7f80d046257d585d1af9d19cf28bd355a4b854b0a7d643c02ebbe6b84457868a
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_DB: db8_test
    container_name: db8-test-db
    ports: ["54329:5432"]
    volumes:
      - db8_test_pgdata:/var/lib/postgresql/data

  tests:
    image: node:20-bookworm
    working_dir: /app
    depends_on:
      db:
        condition: service_started
    environment:
      NODE_ENV: test
      DATABASE_URL: postgresql://postgres:test@db:5432/db8_test
      DB8_TEST_DATABASE_URL: postgresql://postgres:test@db:5432/db8_test
      SIGNING_PRIVATE_KEY_PATH: /tmp/db8_signing_key
      SIGNING_PUBLIC_KEY_PATH: /tmp/db8_signing_key.pub
    container_name: db8-test-tests
    volumes:
      - ./:/app
      - node_modules_linux:/app/node_modules
      - node_modules_web_linux:/app/web/node_modules
    command: ["tail", "-f", "/dev/null"]

volumes:
  db8_test_pgdata:
  node_modules_linux:
  node_modules_web_linux:
